.card {
  width: 24%;
  /* height: 25vh; */
  margin: 0.5rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.02);
}

@media (max-width: 1400px) {
  .card {
    width: 48%;
    margin: 1rem auto;
  }
}

@media (max-width: 876px) {
  .card {
    width: 90%;
    margin: 1rem auto;
  }
}

.topcard {
  width: 48.7%;
  /* width: '90%'; */
  margin: 0.5rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
}



.midcard {
  width: 32%;
  margin: 0.5rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
}

.botcard {
  width: 23.5%;
  margin: 0.5rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
}
.topcard:hover {
  transform: scale(1.02);
}
.midcard:hover {
  transform: scale(1.02);
}
.botcard:hover {
  transform: scale(1.02);
}

@media (max-width: 1500px) {
  .topcard
  {
    width: 100%
  }
  .midcard,
  .botcard {
    width: 48%
  }
}

@media (max-width: 1050px) {
  .midcard,
  .botcard {
    width: 97%
  }
}