.card {
  margin: 0.5rem;
  /* background-color: white; */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.card:hover {
  /* transform: scale(1.02); */
}
.detailcard {
  margin: 0.5rem;
  width: calc(70% - 1rem);
  /* background-color: white; */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  float: left;
}
.detaildate {
  margin: 0.5rem;
  width: calc(30% - 1rem);
  /* background-color: white; */
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  float: left;
}

.midcard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* height: 10vh; */
}

.topcard {
  width: 100%;
  /* margin-top: 20px; */
}

.data {
  display: flex;
  justify-content: space-around;
}

.max {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80px;
  text-align: center;
}
.avg {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80px;
  text-align: center;
}
.min {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80px;
  justify-content: center;
  text-align: center;
}

.max h1,
.min h1,
.avg h1 {
  color: #5cc2f2;
}
.bottomcard {
  margin: 0.5rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.daycard {
  margin: 0.5rem;
  /* background-color: white; */
  float: left;
  height: 10vh;
  width: calc(100% - 1em);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
