.mainmachinecardtitle {
  width: 100%;
  background-color: #5e5e5e;
  color: white;
  margin: 0.5em;
  margin-left: 1em;
  margin: 0 auto;
  padding: 0.3em;
  padding-left: 0.5em;
  font-size: 1.2em;
  line-height: 1.5em;
}
.mainmachinecardtitle:hover {
  cursor: pointer;
}
.mainmachinecardcontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.2em;
  font-size: 1.1em;
  line-height: 0.9em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.mainmachinecardcontent:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.mainmachinecardcontentname {
  /* font-size: large; */
  font-weight: 1000;
  margin-bottom: 11px;
}
.mainmachinecardcontentscore {
  /* font-size: large; */
  font-weight: 1000;
  /* margin-bottom: 20px; */
  color: #5cc2f2;
}
