.red {
  background-color: red;
  transition: background-color 1s ease-in-out;
}
.errorbox {
  /* flex-direction: column;
  justify-content: space-between; */
  width: 100%;
  margin: 0;
}
.errorstyle {
  padding-left: 0.5rem;
  text-align: start;
  font-size: 2vh;
  font-weight: 600;
  line-height: 3.3vh;
}
.errorboxcontent {
  max-height: 100%;
  overflow-y: auto;
  font-size: 1.65vh;
  font-weight: bold;
  line-height: 5vh;
}
