.red {
  background-color: red;
  transition: background-color 1s ease-in-out;
}
.errorstyle {
  padding-left: 0.5rem;
  text-align: start;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.35em;
}
