.red {
  background-color: red;
  transition: background-color 1s ease-in-out;
}
.errorstyle {
  padding-left: 0.5rem;
  text-align: start;
  font-size: 2vh;
  font-weight: 600;
  line-height: 3.3vh;
}
