.booleanimg {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.booleanimg img {
  width:60%;
  height: auto;
}

.booleanimg h3 {
  display: flex;
  justify-content: center;
  margin: 0;
}