.maincard {
  width: calc(24% - 1em);
  height: calc(24% - 0.5em);
  margin: 0.5em;
}
.sensorcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.sensorcard {
  width: 18vw;
  height: 48%;
  margin: 0.5rem;
  margin-left: 0.8rem;
}
.sensorheader {
  margin: 0.5em;
  margin-left: 1em;
  margin: 0 auto;
  padding: 0.3em;
  padding-left: 0.5em;
  font-size: 1.2em;
  line-height: 1.5em;
}
.sensorheader:hover {
  background-color: #191ba9;
  color: white;
}
.sensorheader:active {
  background-color: #191ba9;
  color: white;
}
.sensordatacontent {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  /* padding-left: 0.8vh;
  padding-right: 0.8vh; */
  font-size: 1em;
  line-height: 1.3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.sensordatascore {
  color: #5cc2f2;
  font-weight: 1000;
}
.sensordatastyle {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  margin-top: 0px;
  margin-bottom: 0px;
  /* max-height: 80vh; */
  overflow-y: scroll;
  font-size: 2vh;
  font-weight: 500;
  line-height: 1.55rem;
}

.sensordatacontent:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.errorcard {
  margin: 0.5em;
  width: calc(96% - 1em);
  height: calc(24% - 0.5em);
}
