.main1 {
  display: flex;
  max-height: 80vh;
}

.main2 {
  display: flex;
  flex-wrap: wrap;
  width: 52vw;
}

.maincard {
  width: calc(24% - 1em);
  height: calc(24% - 0.5em);
  margin: 0.5em;
}

.sensordatastyle {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  margin-top: 0;
  margin-bottom: 0;
  overflow-y: scroll;
  font-size: 2vh;
  font-weight: 500;
  line-height: 1.55rem;
}

.sensortab {
  position: fixed;
  width: 30vh;
  height: 5vh;
  display: flex;
  border-bottom: 0.5vh solid #5e5e5e;
  margin-bottom: 1vh;
  cursor: pointer;
  align-items: center;
  margin-top: 82vh;
  margin-left: 20vh;
}

.sensortab2 {
  position: fixed;
  /* width: 30vh; */
  width: 20vh;
  height: 5vh;
  display: flex;
  border-bottom: 0.5vh solid #5e5e5e;
  margin-bottom: 1vh;
  cursor: pointer;
  align-items: center;
  margin-top: 82vh;
  /* margin-left: 33.6vh; */
  margin-left: 38vh;
}

.mainloadingcard {
  margin: 0.5em;
  width: calc(96% - 1em);
  height: 72%;
}

.machineradarcard {
  margin: 0.5em;
  width: calc(96% - 1em);
  height: 73.1%;
}

.errorcard {
  margin: 0.5em;
  width: calc(96% - 1em);
  height: calc(24% - 0.5em);
}

.errorcardcomponent {
  line-height: 2.8em;
}

.sensorloadingcard {
  height: 78vh;
  margin: 0.5rem;
  margin-left: 0.8rem;
  width: 32vw;
}
.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.selected {
  text-align: center;
  width: 10vh;
  font-size: 3.5vh;
  font-weight: 700;
  color: #191ba9;
  transform: scale(1.05);
}

.not-selected {
  text-align: center;
  font-size: 3.5vh;
  width: 10vh;
  font-weight: 500;
  color: #5e5e5e;
}
.not-selected:hover {
  color: #cfd0ff;
  transform: scale(1.05);
}
