/* .mainbox1 {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
} */

.maincard {
  /* width: 261px; */
  /* height: 179px; */
  width: calc(23% - 0.5em);

  height: calc(24% - 0.5em);
  margin: 0.5em;
  /* height: 24%; */
  /* float: left; */
}
.maincardtitle {
  width: 100%;
  /* padding: 10px;
  padding-top: 5px; */
  background-color: #5e5e5e;
  color: white;
  margin: 0.5em;
  margin-left: 1em;
  margin: 0 auto;
  padding: 0.3em;
  padding-left: 0.5em;
  font-size: 1.2em;
  line-height: 1.5em;
}
.maincardtitle:hover {
  cursor: pointer;
}
.maincardcontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.2em;
  font-size: 1.1em;
  line-height: 0.9em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.maincardcontent:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.maincardcontentname {
  /* font-size: large; */
  font-weight: 1000;
  margin-bottom: 20px;
}
.maincardcontentscore {
  /* font-size: large; */
  font-weight: 1000;
  /* margin-bottom: 20px; */
  color: #5cc2f2;
}
.sensercontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.sensercard {
  width: 18vw;
  height: 48%;
  margin: 0.5rem;
  /* transition: transform 0.3s ease-in-out; */
  /* float: left; */
}
.senserheader {
  margin: 0.5em;
  margin-left: 1em;
  margin: 0 auto;
  padding: 0.3em;
  padding-left: 0.5em;
  font-size: 1.2em;
  line-height: 1.5em;
}
.senserheader:hover {
  background-color: #191ba9;
  color: white;
}
.senserheader:active {
  background-color: #191ba9;
  color: white;
}
.senserdatacontent {
  display: flex;
  justify-content: space-between;
  padding-top: 0px;
  /* padding-left: 0.8vh;
  padding-right: 0.8vh; */
  font-size: 1em;
  line-height: 1.3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.senserdatascore {
  color: #5cc2f2;
  font-weight: 1000;
}
.senserdatastyle {
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  margin-top: 0px;
  margin-bottom: 0px;
  /* max-height: 80vh; */
  overflow-y: scroll;
  font-size: 2vh;
  font-weight: 500;
  line-height: 1.55rem;
}

.senserdatacontent:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.errorcard {
  margin: 0.5em;
  width: 93.2%;
  height: calc(24% - 0.5em);
}
